<footer>
    <section class="lien">
        <div style="float:left">
        <ul class="titlefoot noborder">
            Tableau de bord
            <li><a href="#">Mes Heyvents</a></li>
            <li><a href="#">Rechercher</a></li>
            <li><a href="#">Invitations</a></li>
        </ul>
        <ul class="titlefoot">
            Mon compte
            <li><a href="#">Liste de diffusion</a></li>
            <li><a href="#">Mon profil</a></li>
            <li><a href="#">Créer un Heyvent</a></li>
        </ul>
        <ul class="titlefoot">
            Contactez-nous
            <li><a href="#">Plus d'infos</a></li>
            <li><a href="#">Signaler un abus</a></li>
            <li><a href="#">Se désinscrire</a></li>
        </ul>
        </div>
        <div style="float:right">
        <ul class="titlefoot dernieres_entrees">
            <p>Dernières entrées</p>
            <li><a href="#"><img src="{{ asset('bundles/heysite/images/footer/exemples/ex1.jpg') }}" /></a></li>
             <li><a href="#"><img src="{{ asset('bundles/heysite/images/footer/exemples/ex2.jpg') }}" /></a></li>
             <li><a href="#"><img src="{{ asset('bundles/heysite/images/footer/exemples/ex3.jpg') }}" /></a></li>
             <li><a href="#"><img src="{{ asset('bundles/heysite/images/footer/exemples/ex4.jpg') }}" /></a></li>
             <li><a href="#"><img src="{{ asset('bundles/heysite/images/footer/exemples/ex5.jpg') }}" /></a></li>
             <li><a href="#"><img src="{{ asset('bundles/heysite/images/footer/exemples/ex6.jpg') }}" /></a></li>
        </ul>
                </div>
    </section>
    <section class="logo_lien">
        <div class="first-margin-left facebook"><a href="#">Facebook</a></div>
        <div class="twitter"><a href="#">Twitter</a></div>
        <div class="google"><a href="#">Google+</a></div>
        <div class="flickr"><a href="#">Flickr</a></div>
        <div class="heyvent">Tous droits déposés</div>
    </section>
</footer>