{% extends "HeySiteBundle::layout.html.twig" %}
{% block body %}
<section style="clear:both" >
    <div class="timeline">
        <div class="precedent"></div>
        <div class="line">
            <div class="debut"></div>
            <div class="date">
                <ul>
                    <li class="paire" itemref="-495px;-495px;-495px;-495px"><p class="day">14</p><p>07</p></li>
                    <li class="impaire" itemref="-865px;-623px;-696px;0px" ><p class="day">25</p><p>12</p></li>
                    <li class="impaire" itemref="-1430px;" ><p class="day">02</p><p>01</p></li>

                </ul>
            </div>
            <div class="fin"></div>
        </div>
        <div class="suivant"></div>
    </div>
    <div id="album">
        <div id="pave1"><div id="picinsert1"></div>
            <div class="albumavec"><img src="{{ asset('bundles/heysite/images/event/album/album1.jpg') }}" alt="album photo"/> <p>Venustus et ex consulari Minervius oraturi, ne delictis supplicia sint grandiora, neve senator quisquam inusitato et inlicito more tormentis exponeretur.</p> </div>
            <div class="albumavec"><img src="{{ asset('bundles/heysite/images/event/album/album2.jpg') }}" alt="album photo"/> <p>quae cernebantur in paucis, omnibus timeri sunt coepta. et ne tot malis dissimulatis paulatimque serpentibus</p> </div>

            <div class="albumavec"><p>neve senator quisquam inusitato et inlicito more tormentis exponeretur.<br/>de ed ed</p> </div>
            <div class="albumavec"><img src="{{ asset('bundles/heysite/images/event/album/album7.jpg') }}" alt="album photo"/> <p>quae cernebantur in paucis, omnibus timeri sunt coepta. et ne tot malis dissimulatis paulatimque serpentibus</p> </div>


        </div>
        <div id="pave2"><div id="picinsert2"></div>
            <div class="albumavec"><img src="{{ asset('bundles/heysite/images/event/album/album4.jpg') }}" alt="album photo"/> <p>quae cernebantur in paucis, omnibus timeri sunt coepta. et ne tot malis dissimulatis paulatimque serpentibus</p> </div>  

            <div class="albumavec"><img src="{{ asset('bundles/heysite/images/event/album/album2.jpg') }}" alt="album photo"/> <p>quae cernebantur in paucis, omnibus timeri sunt coepta. et ne tot malis dissimulatis paulatimque serpentibus</p> </div>
        </div>

        <div id="pave3"><div id="picinsert3"></div><div class="albumavec"><img src="{{ asset('bundles/heysite/images/event/album/album5.jpg') }}" alt="album photo"/> <p>Venustus et ex consulari Minervius oraturi, ne delictis supplicia sint grandiora, neve senator quisquam inusitato et inlicito more tormentis exponeretur.</p> </div>

            <div class="albumavec"><img src="{{ asset('bundles/heysite/images/event/album/album6.jpg') }}" alt="album photo"/> <p>Venustus et ex consulari Minervius oraturi, ne delictis supplicia sint grandiora, neve senator quisquam inusitato et inlicito more tormentis exponeretur.</p> </div>
        </div>


        <div id="pave4"><div id="picinsert4"></div>

            <div class="albumavec"><img src="{{ asset('bundles/heysite/images/event/album/album7.jpg') }}" alt="album photo"/> <p>Venustus et ex consulari Minervius oraturi, ne delictis supplicia sint grandiora, neve senator quisquam inusitato et inlicito more tormentis exponeretur.</p> </div>

        </div>
    </div>
</section>
<section class="page">
    <ul>

        <li class="active">1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
    </ul>
</section>
<div id="intro">

    <div class="introstatus"><img src="{{ asset('bundles/heysite/images/event/status-end.png') }}" alt="status"/></div>
    <p title="{{event.name}}" class="titre">{{event.name}}</p><p class="titresous">{{event.presentation}}</p><p class="textstand">{{event.description|nl2br}}</p>
</div>
<div class="contain_event">
   {% render "HeySiteBundle:Event:contain" with {'id_event': event.id} %}  
 </div>
   {% render "HeySiteBundle:Event:footer" %}

{% endblock %}
{% block javascripts %}
    <script>
    $('.date li').heyvent();

    // Animation sur textearea
    $('textarea.contribution').textarea(); 


    // Listener sur le formulaire de commentaire
     $('form[name="comment"]').submitFormAndReturnHtml('.contain_event',null,'mosaique');  
     
     $('#content').mosaique();

        </script>
{% endblock %}