{% extends "HeySiteBundle::layout.html.twig" %}
{% block body %}
    <section style="clear:both" >
        <div class="timeline">
            <div class="precedent"></div>
            <div class="line">
                <div class="debut"></div>
                <div class="date">
                    <ul>
                        <li class="paire" itemref="-495px;-495px;-495px;-495px"><p class="day">14</p><p>07</p></li>
                        <li class="impaire" itemref="-865px;-623px;-696px;0px" ><p class="day">25</p><p>12</p></li>
                        <li class="impaire" itemref="-1430px;" ><p class="day">02</p><p>01</p></li>
                       
                   </ul>
                </div>
                <div class="fin"></div>
            </div>
            <div class="suivant"></div>
        </div>
        <div id="album">
            <div id="pave1"><div id="picinsert1"></div>
                <div class="albumavec"><img src="{{ asset('bundles/heysite/images/event/album/album1.jpg') }}" alt="album photo"/> <p>Venustus et ex consulari Minervius oraturi, ne delictis supplicia sint grandiora, neve senator quisquam inusitato et inlicito more tormentis exponeretur.</p> </div>
                <div class="albumavec"><img src="{{ asset('bundles/heysite/images/event/album/album2.jpg') }}" alt="album photo"/> <p>quae cernebantur in paucis, omnibus timeri sunt coepta. et ne tot malis dissimulatis paulatimque serpentibus</p> </div>

                <div class="albumavec"><p>neve senator quisquam inusitato et inlicito more tormentis exponeretur.<br/>de ed ed</p> </div>
                 <div class="albumavec"><img src="{{ asset('bundles/heysite/images/event/album/album7.jpg') }}" alt="album photo"/> <p>quae cernebantur in paucis, omnibus timeri sunt coepta. et ne tot malis dissimulatis paulatimque serpentibus</p> </div>


            </div>
            <div id="pave2"><div id="picinsert2"></div>
                <div class="albumavec"><img src="{{ asset('bundles/heysite/images/event/album/album4.jpg') }}" alt="album photo"/> <p>quae cernebantur in paucis, omnibus timeri sunt coepta. et ne tot malis dissimulatis paulatimque serpentibus</p> </div>  

                <div class="albumavec"><img src="{{ asset('bundles/heysite/images/event/album/album2.jpg') }}" alt="album photo"/> <p>quae cernebantur in paucis, omnibus timeri sunt coepta. et ne tot malis dissimulatis paulatimque serpentibus</p> </div>
            </div>

            <div id="pave3"><div id="picinsert3"></div><div class="albumavec"><img src="{{ asset('bundles/heysite/images/event/album/album5.jpg') }}" alt="album photo"/> <p>Venustus et ex consulari Minervius oraturi, ne delictis supplicia sint grandiora, neve senator quisquam inusitato et inlicito more tormentis exponeretur.</p> </div>

                <div class="albumavec"><img src="{{ asset('bundles/heysite/images/event/album/album6.jpg') }}" alt="album photo"/> <p>Venustus et ex consulari Minervius oraturi, ne delictis supplicia sint grandiora, neve senator quisquam inusitato et inlicito more tormentis exponeretur.</p> </div>
            </div>


            <div id="pave4"><div id="picinsert4"></div>

                <div class="albumavec"><img src="{{ asset('bundles/heysite/images/event/album/album7.jpg') }}" alt="album photo"/> <p>Venustus et ex consulari Minervius oraturi, ne delictis supplicia sint grandiora, neve senator quisquam inusitato et inlicito more tormentis exponeretur.</p> </div>

            </div>
        </div>
    </section>
    <section class="page">
        <ul>
            
            <li class="active">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
        </ul>
    </section>
    <div id="intro">

        <div class="introstatus"><img src="{{ asset('bundles/heysite/images/event/status-end.png') }}" alt="status"/></div>
        <p title="{{event.name}}" class="titre">{{event.name}}</p><p class="titresous">{{event.presentation}}</p><p class="textstand">{{event.description|nl2br}}</p></div>
    <div id="separe">
        <div id="message">24 Messages </div>
    </div>
    <div id="content">

        <div class="paveposter"><img src="{{ asset('bundles/heysite/images/event/picto-fleche.png') }}" class="insert" alt=""/> <img src="{{ asset('bundles/heysite/images/event/base/people1.jpg') }}" class="people" alt=""/><div class="poster"> <h4 class="personne">Dalette Person</h4><h4 class="lieu" style="display:inline-block" >gwada</h4><img src="{{ asset('bundles/heysite/images/event/note_4.png') }}" class="notepose"/>
                <p>His cognitis Gallus ut serpens adpetitus telo vel saxo iamque spes extremas opperiens et succurrens saluti suae quavis ratione colligi omnesiussit armatos et cum starent attoniti
                </p>
                <div class="minigal">
                    <img src="{{ asset('bundles/heysite/images/event/album-mini1.jpg') }}" alt="album"/>
                    <img src="{{ asset('bundles/heysite/images/event/album-mini2.jpg') }}" alt="album"/>
                    <img src="{{ asset('bundles/heysite/images/event/album-mini3.jpg') }}" alt="album"/>
                    <img src="{{ asset('bundles/heysite/images/event/album-mini4.jpg') }}" alt="album"/>
                    <img src="{{ asset('bundles/heysite/images/event/album-mini1.jpg') }}" alt="album"/>
                    <img src="{{ asset('bundles/heysite/images/event/picto-contrib-plus.png') }}" alt="ajout"/>
                </div>

                <p class="envoi">envoyé le 25 Janvier à 14h</p></div></div>

        <div class="paveposter" ><img src="{{ asset('bundles/heysite/images/event/picto-fleche.png') }}" class="insert" alt=""/> <img src="{{ asset('bundles/heysite/images/event/base/people2.jpg') }}" class="people" alt=""/><div class="poster"> <h4 class="personne">Pierrette Mona</h4><h4 class="lieu" style="display:inline-block" >gwada</h4><img src="{{ asset('bundles/heysite/images/event/note_3.png') }}" class="notepose"/>
                <p>His cognitis Gallus ut serpens adpetitus telo vel saxo iamque spes extremas opperiens et succurrens saluti suae quavis ratione colligi </p><p>omnesiussit armatos et cum acie stridens adeste inquit viri fortes mihi peric starent attoniti, districta dentiumlitantiomnesiussit armatos et cum starent attoniti, districta dentium acie stridens adeste inquit viri fortes mihi periclitanti vobiscum. </p><p class="envoi">envoyé le 25 Janvier à 14h</p></div></div>


        <div class="paveposter"><img src="{{ asset('bundles/heysite/images/event/picto-fleche.png') }}" class="insert" alt=""/> <img src="{{ asset('bundles/heysite/images/event/base/people3.jpg') }}" class="people" alt=""/><div class="poster"> <h4 class="personne">Jerome riglote</h4><h4 class="lieu" style="display:inline-block" >gwada</h4><img src="{{ asset('bundles/heysite/images/event/note_5.png') }}" class="notepose"/>
                <p>His cognitis Gallus ut serpens adpetitus telo vel saxo iamque spes extremas opperiens et succurrens saluti suae quavis ratione colligi </p><p class="envoi">envoyé le 25 Janvier à 14h</p></div></div>

        <div class="paveposter" ><img src="{{ asset('bundles/heysite/images/event/picto-fleche.png') }}" class="insert" alt=""/> <img src="{{ asset('bundles/heysite/images/event/base/people4.jpg') }}" class="people" alt=""/><div class="poster"> <h4 class="personne">Michel rodrigue</h4><h4 class="lieu" style="display:inline-block" >gwada</h4><img src="{{ asset('bundles/heysite/images/event/note_4.png') }}" class="notepose"/>
                <p>His cognitis saluti suae quavis ratione colligi </p><p>omnesiussit armatos et cum starent attoniti, districta dentium acie stridens adeste inquit viri fortes mihi periclitanti vobiscum. </p><p class="envoi">envoyé le 25 Janvier à 14h</p></div></div>

        <div class="paveposter"><img src="{{ asset('bundles/heysite/images/event/picto-fleche.png') }}" class="insert" alt=""/> <img src="{{ asset('bundles/heysite/images/event/base/people8.jpg') }}" class="people" alt=""/><div class="poster"> <h4 class="personne">Sarah belette</h4><h4 class="lieu" style="display:inline-block" >gwada</h4><img src="{{ asset('bundles/heysite/images/event/note_4.png') }}" class="notepose"/>
                <p style="clear:both">His cognitis Gallus ut serpens adpetitus telo vel saxo iamque spes extremas opperiens et succurrens saluti suae quavis ratione colligi </p><p class="envoi">envoyé le 25 Janvier à 14h</p></div></div>

        <div class="paveposter" ><img src="{{ asset('bundles/heysite/images/event/picto-fleche.png') }}" class="insert" alt=""/> <img src="{{ asset('bundles/heysite/images/event/base/people6.jpg') }}" class="people" alt=""/><div class="poster"> <h4 class="personne">Pablo Mozar</h4><h4 class="lieu" style="display:inline-block" >gwada</h4><img src="{{ asset('bundles/heysite/images/event/note_2.png') }}" class="notepose"/>
                <p>His cognitis saluti suae quavis ratione colligi </p><p>omnesiussit armatos et cum starent attoniti, districta dentium acie stridens adeste inquit viri fortes mihi periclitanti vobiscum. </p><p class="envoi">envoyé le 25 Janvier à 14h</p></div></div>

        <div class="paveposter"><img src="{{ asset('bundles/heysite/images/event/picto-fleche.png') }}" class="insert" alt=""/> <img src="{{ asset('bundles/heysite/images/event/base/people1.jpg') }}" class="people" alt=""/><div class="poster"> <h4 class="personne">Dalette Person</h4><h4 class="lieu" style="display:inline-block" >gwada</h4><img src="{{ asset('bundles/heysite/images/event/note_5.png') }}" class="notepose"/>
                <p>His cognitis Gallus ut serpens adpetitus telo vel saxo iamque spes extremas opperiens et succurrens saluti suae quavis ratione colligi </p><p class="envoi">envoyé le 25 Janvier à 14h</p></div></div>
    </div>
    <div id="options" >
        <div class="bloc comenvoi">
           
            <div class="comenvoicentre">
                
                     <section> <textarea   class="contribution input-large"  rows="1" name="monchamptext" placeholder="Postez votre contribution"  ></textarea></td></section>
                     <section class="button" ><a id="button"></a></section>
                   
                   
               
                
            </div>
            
        </div>
        <div class="bloc comesocial">
            <ul>
                <li class="like">5 likes</li>
                <hr style="height: 1px; color: #e3e3e3; background-color: #e3e3e3; width: 90%; border: none;">
                <li class="view">5 likes</li>
                <hr style="height: 1px; color: #e3e3e3; background-color: #e3e3e3; width: 90%; border: none;">
                <li class="tweet">5 likes</li>
                <hr style="height: 1px; color: #e3e3e3; background-color: #e3e3e3; width: 90%; border: none;">

            </ul>
            <a class="linkunder">Lien : Http://heysitev/Jazz</a>
        </div>
        <div class="bloc comepub"><img src="{{ asset('bundles/heysite/images/event/pub.jpg') }}" alt="pub">
        </div>
        <div class="bloc comeautre">sss
        </div>
    </div>
        
   {% render "HeySiteBundle:Event:footer" %}
{% endblock %}
{% block javascripts %}
<script>
$('.date li').heyvent();

// Animation sur textearea
$('textarea.contribution').textarea(); 
</script>
{% endblock %}