<div id="separe">
    <div id="message">24 Messages </div>
</div>
<div id="content">

    <div class="paveposter"><img src="{{ asset('bundles/heysite/images/event/picto-fleche.png') }}" class="insert" alt=""/> <img src="{{ asset('bundles/heysite/images/event/base/people1.jpg') }}" class="people" alt=""/><div class="poster"> <h4 class="personne">Dalette Person</h4><h4 class="lieu" style="display:inline-block" >gwada</h4><img src="{{ asset('bundles/heysite/images/event/note_4.png') }}" class="notepose"/>
            <p>His cognitis Gallus ut serpens adpetitus telo vel saxo iamque spes extremas opperiens et succurrens saluti suae quavis ratione colligi omnesiussit armatos et cum starent attoniti
            </p>
            <div class="minigal">
                <img src="{{ asset('bundles/heysite/images/event/album-mini1.jpg') }}" alt="album"/>
                <img src="{{ asset('bundles/heysite/images/event/album-mini2.jpg') }}" alt="album"/>
                <img src="{{ asset('bundles/heysite/images/event/album-mini3.jpg') }}" alt="album"/>
                <img src="{{ asset('bundles/heysite/images/event/album-mini4.jpg') }}" alt="album"/>
                <img src="{{ asset('bundles/heysite/images/event/album-mini1.jpg') }}" alt="album"/>
                <img src="{{ asset('bundles/heysite/images/event/picto-contrib-plus.png') }}" alt="ajout"/>
            </div>

            <p class="envoi">envoyé le 25 Janvier à 14h</p></div></div>

    <div class="paveposter" ><img src="{{ asset('bundles/heysite/images/event/picto-fleche.png') }}" class="insert" alt=""/> <img src="{{ asset('bundles/heysite/images/event/base/people2.jpg') }}" class="people" alt=""/><div class="poster"> <h4 class="personne">Pierrette Mona</h4><h4 class="lieu" style="display:inline-block" >gwada</h4><img src="{{ asset('bundles/heysite/images/event/note_3.png') }}" class="notepose"/>
            <p>His cognitis Gallus ut serpens adpetitus telo vel saxo iamque spes extremas opperiens et succurrens saluti suae quavis ratione colligi </p><p>omnesiussit armatos et cum acie stridens adeste inquit viri fortes mihi peric starent attoniti, districta dentiumlitantiomnesiussit armatos et cum starent attoniti, districta dentium acie stridens adeste inquit viri fortes mihi periclitanti vobiscum. </p><p class="envoi">envoyé le 25 Janvier à 14h</p></div></div>


    <div class="paveposter"><img src="{{ asset('bundles/heysite/images/event/picto-fleche.png') }}" class="insert" alt=""/> <img src="{{ asset('bundles/heysite/images/event/base/people3.jpg') }}" class="people" alt=""/><div class="poster"> <h4 class="personne">Jerome riglote</h4><h4 class="lieu" style="display:inline-block" >gwada</h4><img src="{{ asset('bundles/heysite/images/event/note_5.png') }}" class="notepose"/>
            <p>His cognitis Gallus ut serpens adpetitus telo vel saxo iamque spes extremas opperiens et succurrens saluti suae quavis ratione colligi </p><p class="envoi">envoyé le 25 Janvier à 14h</p></div></div>

    <div class="paveposter" ><img src="{{ asset('bundles/heysite/images/event/picto-fleche.png') }}" class="insert" alt=""/> <img src="{{ asset('bundles/heysite/images/event/base/people4.jpg') }}" class="people" alt=""/><div class="poster"> <h4 class="personne">Michel rodrigue</h4><h4 class="lieu" style="display:inline-block" >gwada</h4><img src="{{ asset('bundles/heysite/images/event/note_4.png') }}" class="notepose"/>
            <p>His cognitis saluti suae quavis ratione colligi </p><p>omnesiussit armatos et cum starent attoniti, districta dentium acie stridens adeste inquit viri fortes mihi periclitanti vobiscum. </p><p class="envoi">envoyé le 25 Janvier à 14h</p></div></div>

    <div class="paveposter"><img src="{{ asset('bundles/heysite/images/event/picto-fleche.png') }}" class="insert" alt=""/> <img src="{{ asset('bundles/heysite/images/event/base/people8.jpg') }}" class="people" alt=""/><div class="poster"> <h4 class="personne">Sarah belette</h4><h4 class="lieu" style="display:inline-block" >gwada</h4><img src="{{ asset('bundles/heysite/images/event/note_4.png') }}" class="notepose"/>
            <p style="clear:both">His cognitis Gallus ut serpens adpetitus telo vel saxo iamque spes extremas opperiens et succurrens saluti suae quavis ratione colligi </p><p class="envoi">envoyé le 25 Janvier à 14h</p></div></div>

    <div class="paveposter" ><img src="{{ asset('bundles/heysite/images/event/picto-fleche.png') }}" class="insert" alt=""/> <img src="{{ asset('bundles/heysite/images/event/base/people6.jpg') }}" class="people" alt=""/><div class="poster"> <h4 class="personne">Pablo Mozar</h4><h4 class="lieu" style="display:inline-block" >gwada</h4><img src="{{ asset('bundles/heysite/images/event/note_2.png') }}" class="notepose"/>
            <p>His cognitis saluti suae quavis ratione colligi </p><p>omnesiussit armatos et cum starent attoniti, districta dentium acie stridens adeste inquit viri fortes mihi periclitanti vobiscum. </p><p class="envoi">envoyé le 25 Janvier à 14h</p></div></div>

    <div class="paveposter"><img src="{{ asset('bundles/heysite/images/event/picto-fleche.png') }}" class="insert" alt=""/> <img src="{{ asset('bundles/heysite/images/event/base/people1.jpg') }}" class="people" alt=""/><div class="poster"> <h4 class="personne">Dalette Person</h4><h4 class="lieu" style="display:inline-block" >gwada</h4><img src="{{ asset('bundles/heysite/images/event/note_5.png') }}" class="notepose"/>
            <p>His cognitis Gallus ut serpens adpetitus telo vel saxo iamque spes extremas opperiens et succurrens saluti suae quavis ratione colligi </p><p class="envoi">envoyé le 25 Janvier à 14h</p></div></div>
</div>
<div id="options" >
        {% if(app.user|length >0 ) %}
        <div class="bloc comenvoi">

            <div class="comenvoicentre">
                <form name="comment" method="post" action="{{path('_event_section_contain')}}">
                    <section>
                        {{form_widget(commentForm.idEvent)}}
                        {{form_widget(commentForm.comment,{'attr':{'class':'contribution input-large','placeholder':'Postez votre contribution'}} )}}
                        {{ form_errors(commentForm.comment) }}
                        {{ form_rest(commentForm) }}
                        </section>
                        <section class="button" ><button type="submit" id="button"></button></section>
                    </form>
                </div>

            </div>
        {% else %}
            <div style="margin-bottom : 20px;"  >
                <a class="btn btn-mini" href="{{path('_account_login')}}"><i class="icon-user"></i>Connectez pour poster un commentaire !</a>   
            </div>
        {% endif %}
            <div class="bloc comesocial">
                <ul>
                    <li class="like">5 likes</li>
                    <hr style="height: 1px; color: #e3e3e3; background-color: #e3e3e3; width: 90%; border: none;">
                    <li class="view">5 likes</li>
                    <hr style="height: 1px; color: #e3e3e3; background-color: #e3e3e3; width: 90%; border: none;">
                    <li class="tweet">5 likes</li>
                    <hr style="height: 1px; color: #e3e3e3; background-color: #e3e3e3; width: 90%; border: none;">

                </ul>
                <a class="linkunder">Lien : Http://heysitev/Jazz</a>
            </div>
            <div class="bloc comepub"><img src="{{ asset('bundles/heysite/images/event/pub.jpg') }}" alt="pub">
            </div>
            <div class="bloc comeautre">sss
            </div>
        </div>

