{% extends "HeyAccountBundle::layout.html.twig" %}
{% block stylesheets %}
<link href="{{ asset('bundles/heysite/css/profil/base.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
<div  class="container-fluid container-fluid-bg">
    <form name="profil" method="post" enctype="multipart/form-data">
{{ form_errors(formAccount) }}

            <div class="row-fluid">
                <div class="span3 background-left-nav">
                    <!--Sidebar content-->
                    test
                </div>
                <div class="span9 background-right-nav">
                    <div class="row-fluid">
                        <div class="span11">{{form_widget(formAccount.lastname,{ 'attr': {'class': 'lastName'} })}}</div>
                    </div>
                    <div class="row-fluid">
                        <div class="span11">{{form_widget(formAccount.firstname,{ 'attr': {'class': 'firstName'} })}}</div>
                    </div>
                    <div class="row-fluid">
                        <div style="text-align: right"  class="span2">Mot de passe :</div>
                        <div class="span9">{{form_widget(formAccount.password,{ 'attr': {'class': 'commonInputLine'} })}}</div>
                    </div>
                    <div class="row-fluid">
                        <div style="text-align: right"  class="span2">Mail :</div>
                        <div class="span9">{{form_widget(formAccount.email,{ 'attr': {'class': 'commonInputLine'} })}}</div>
                    </div>
                     <div class="row-fluid">
                        <div style="text-align: right"  class="span2">Tél :</div>
                        <div class="span9">{{form_widget(formAccount.tel,{ 'attr': {'class': 'commonInputLine'} })}}</div>
                    </div>
                    <div class="row-fluid">
                        <div style="text-align: right"  class="span2">Cp :</div>
                        <div class="span1">{{form_widget(formAccount.cp,{ 'attr': {'class': 'commonInputLine'} })}}</div>
                        <div style="text-align: right"  class="span1">Ville :</div>
                        <div class="span7">{{form_widget(formAccount.city,{ 'attr': {'class': 'commonInputLine'} })}}</div>
                    </div>
                    <div class="row-fluid">
                        <div style="text-align: right"  class="span2">Région :</div>
                        <div class="span1">{{form_widget(formAccount.district,{ 'attr': {'class': 'commonInputLine'} })}}</div>
                        <div style="text-align: right"  class="span1">Pays :</div>
                        <div class="span7">{{form_widget(formAccount.country,{ 'attr': {'class': 'commonInputLine'} })}}</div>
                    </div>
                    <div class="row-fluid">
                        <div style="text-align: right"  class="span2">Statut :</div>
                        <div class="span9">{{form_widget(formAccount.statut)}}</div>
                    </div>

                </div>
            </div>

        </form>
    </div>
{% endblock %}