
<section class="crop_picture">
    <div><h4>Avatar recadré</h4></div>
    <div   class="figure">
        <figure id="fig_avatar_crop" >
            <img style="width:49px" id="crop"  src="{{ asset(crop1) }}"  alt="" />
        </figure>
    </div>
    <div>
        <form name="crop" action="{{path('_account_picture_crop')}}" method="post">
            <input type="hidden" required="required" name="file[x1]" value="" />
            <input type="hidden" required="required" name="file[y1]" value="" />
            <input type="hidden" required="required" name="file[x2]" value="" />
            <input type="hidden" required="required" name="file[y2]" value="" />
            <input type="hidden" required="required" name="file[w]" value="" />
            <input type="hidden" required="required" name="file[h]" value="" />
            <input type="hidden" name="file[filePath]" value="Avatar/avatar.jpg" />
            <input class="btn" type="submit" name="submit" value="Recadrer l'image" />
        </form>

    </div>
</section>
<section style="clear:both"  class="originale_picture">
    <div><h4>Avatar original</h4></div>
   
    <div class="figure">
        <figure >
            <img id="avatar" src="{{ asset(avatar)}}"  alt="" />
        </figure>
        </div>
    
    <div style="clear:both" >
        <form name="file" method="post" enctype="multipart/form-data" action="{{path('_account_picture')}}" >
           <div class="span7" style="margin:auto;padding:auto;float:left">
                <input data-url="{{path('_account_picture')}}" id="file"  type="file" name="file"  />
                <input type="hidden" name="MAX_FILE_SIZE" value="10000000">
                <!-- <input class="btn" type="submit" name="submit" value="Changer d'image" /> -->
            </div>
           <div class="span3" style="float:left;padding : 5px;" id="progress">
                <div class="bar" style="width: 0%;"></div>
            </div>
        </form>
    </div>
</section>


