<!DOCTYPE html>

<html lang="fr">
  <head>
    <meta charset="utf-8">
   	<title>{% block title %}Heyvent : Compte{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="{{ asset('bundles/heysite/css/main.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/heysite/css/base.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/heysite/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/heysite/css/event/boilerplate.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/heysite/css/event/elem.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/heysite/css/event/custom.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/heysite/css/webfonts/titre/stylesheet.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/heysite/css/scrollbar/jquery.mCustomScrollbar.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/heyaccount/css/base.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/heyaccount/css/ui-heyvent/jquery-ui-1.10.0.custom.css') }}" rel="stylesheet" type="text/css">
    
    {% block stylesheets %}{% endblock %}
   <!-- stylesheet for demo and examples -->
	<style type="text/css">
      
		
		
		
    </style>
	<!-- Custom scrollbars CSS -->
    <link href="{{ asset('bundles/heysite/css/bootstrap-responsive.css') }}" rel="stylesheet">
    

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  
  </head>

  <body>
<div class="gridContainer clearfix">
    <header id="header"><span><img src="{{ asset('bundles/heysite/images/event/logo_heyvent.png') }}" alt="logo" class="sizelogo"/></span> 
        <div id="myprofil"><img src="{{ asset('bundles/heysite/images/event/base/people10.jpg') }}"/> Daniely Fanon</div>
    </header>
    <div class="container_account" >
      {% block body %}
	
      {% endblock %}
    </div>
  </div>   

  

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
 
 	<script src="{{ asset('bundles/heyaccount/js/jquery-1.9.0.js') }}" ></script>
        <script src="{{ asset('bundles/heyaccount/js/jquery-ui-1.10.0.custom.js') }}" ></script> 
        <script src="{{ asset('bundles/heysite/js/respond.min.js') }}" ></script>
        <script src="{{ asset('bundles/heysite/js/jquery.heyvent.js') }}"></script>
      
        {% block javascripts %}
        {% endblock %}
  </body>
</html>
