<p>Bienvenue <b>{{account.username}}</b> sur Heyvent,</p>

<p>Voici le récapitulatif de votre compte : </p>
<ul>
    <li><b>Pseudo</b> : {{account.username}} </li>
    <li><b>Nom</b> : {{account.lastname}} </li>
    <li><b>Prénom</b> : {{account.firstname}} </li>
    <li><b>Email</b> : {{account.email}} </li>
    <li><b>Mot de passe</b> : {{password}} </li>
</ul>

<p>Cordialement,<br/>
L'équipe d'Heyvent</p>
